body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/newBookshelfBackground.jpg);
}

.wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}


.word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  font-size: 35px;
  background: #E2CB76;
  background: -moz-radial-gradient(center, #E2CB76 0%, #D4DB8A 46%, #96A2D5 100%);
  background: -webkit-radial-gradient(center, #E2CB76 0%, #D4DB8A 46%, #96A2D5 100%);
  background: radial-gradient(ellipse at center, #E2CB76 0%, #D4DB8A 46%, #96A2D5 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
  text-align: center;
  margin: 10px;
}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border-color: black;
  background: #96A2D5;
  background: -moz-radial-gradient(center, #96A2D5 0%, #D4DB8A 46%, #E2CB76 100%);
  background: -webkit-radial-gradient(center, #96A2D5 0%, #D4DB8A 46%, #E2CB76 100%);
  background: radial-gradient(ellipse at center, #96A2D5 0%, #D4DB8A 46%, #E2CB76 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px ;
  text-align: center;
  border-style:inset;
  margin: 10px
}

.user-input {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  height: 40px;
  overflow-wrap: break-word;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #ddd;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
  }
  &[placeholder] { 
    font-style: italic;
    font-size: 0.875rem;
  }
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.submit-btn {
  padding: 20px;
  border-radius: 12px;
}

.text-count {
  color:#ccc
}

.live-timer {
  color:#ccc
}

.user-data {
  /* position: absolute; */
  top: 15%;
  width: 1100px;
  /* width: auto; */
  margin-top: 20px;
  display: flex;
  background: #FBFE8C;
  background: -moz-linear-gradient(left, #FBFE8C 0%, #C4DB93 42%, #C9BDFF 100%);
  background: -webkit-linear-gradient(left, #FBFE8C 0%, #C4DB93 42%, #C9BDFF 100%);
  background: linear-gradient(to right, #FBFE8C 0%, #C4DB93 42%, #C9BDFF 100%);
  justify-content: center;
  align-items: center;
  border: 11px double #1C6EA4;
}

.user-index {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: block;

}

.user-badges {
  width: fit-content;
  padding: 5px;
  align-items: right;
  color: black;
  background: #69a1d9;
  border: 11px #1C6EA4;
}

.silver-badge {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  text-align: center;
  padding: 5px;
  align-items: right;
  color: black;
  background: -moz-linear-gradient(left, #f2f2f2 0%, #c1c3c3 42%, #8d9091 100%);
  background: -webkit-linear-gradient(left, #f2f2f2 0%, #c1c3c3 42%, #8d9091 100%);
  background: linear-gradient(to right, #f2f2f2 0%, #c1c3c3 42%, #8d9091 100%);
  border: 8px dashed silver;
}

.bronze-badge {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  text-align: center;
  padding: 5px;
  color: black;
  background: -moz-linear-gradient(left, #e9d4b3 0%, #b68d4c 100%);
  background: -webkit-linear-gradient(left, #e9d4b3 0%, #b68d4c 100%);
  background: linear-gradient(to right, #e9d4b3 0%, #b68d4c 100%);
  border: 8px dashed #cd7f32;
}

.gold-badge {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  text-align: center;
  padding: 5px;
  color: black;
  background: -moz-linear-gradient(left, #f4f1d2 0%, #feb645 100%);
  background: -webkit-linear-gradient(left, #e4e0ae 0%, #feb645 100%);
  background: linear-gradient(to right, #FCF6BA 0%, #feb645 100%);
  border: 8px dashed gold;
}

.badges-header {
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.username-label {
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.user-head {
  position: absolute;
  top: 25px
  ;
  justify-content: center;
  align-items: center;
  left: 45%;
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.user-div {
  grid-column: 2;
  grid-row: 1;
  
}

.nav-btn {
  padding: 10px;
}

.user-btn {
  width: 150px;
  border-radius: 12px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #f8e40c;
  background: -moz-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: -webkit-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: linear-gradient(to bottom, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
}

.user-home-button {
  width: 150px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: #f8e40c;
  background: -moz-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: -webkit-linear-gradient(top, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
  background: linear-gradient(to bottom, #f8e40c 0%, #CBC047 38%, #1c86cc 100%);
}


.upvote-btn {
  background: none;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

.liked {
  background-color: slateblue;
}

.text-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  
}



.text-content {
  flex-grow: 1;
}

.user-entry-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid blue;
  padding: 20px; 
  margin-bottom: 10px;
  background-color: rgb(214, 214, 133);
  width: 450px;
  height:auto;
  overflow: hidden;
}
.user-ul {
  list-style-type: none;
  padding: 0;
  text-align: center
}

.small-text {
  font-size: 15px;
  margin-top: 15px;
}

.timeStamp {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}