body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/fullBackground.jpg);
}

.wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}


.word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 
  font-size: 30px;
  line-height: 50px;
  background-color: #ded4bd;
  background-size: 50px 50px;
  background-image: repeating-linear-gradient(0deg, #5f4d2f, #5f4d2f 1.6px, #ded4bd 1.6px, #ded4bd);
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px #5f4d2f;
  text-align: center;
  margin: 10px;
  border: #33241e;

}

.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border-color: #33241e;
  background: rgb(204, 199, 182);;
  background: -moz-radial-gradient(center, #75736d 0%, #fefffa 46%, #75736e 0%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 3px #5f4d2f;
  text-align: center;
  margin: 10px
}

.user-input {
  grid-column: 1;
  grid-row: 3;
  width: 100%;
  height: 40px;
  overflow-wrap: break-word;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 0.5rem;
  color: #666;
  box-shadow: inset 0 0 0.25rem #f5efe8;
  &:focus {
    outline: none;
    border: 1px solid darken(#ddd, 5%);
    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
  }
  &[placeholder] {
    font-style: italic;
    font-size: 0.875rem;
  }
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.submit-btn {
  padding: 20px;
  border-radius: 12px;
}

.submit-btn:hover {
  color:rgb(216, 212, 191);
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
}

.text-count {
  color:#ffffff;
}

.live-timer {
  color:#ccc
}

.user-data {
  /* position: absolute; */
  top: 15%;
  height: 700px;
  width: 1100px;
  
  /* width: auto; */
  margin-top: 20px;
  display: flex;
  background:#ded4bd;
  background-image: repeating-linear-gradient(0deg, #5f4d2f, #5f4d2f 1.6px, #ded4bd 1.6px, #ded4bd);
  justify-content: center;
  align-items: flex-start;
  border: #33241e;
  overflow-y: scroll;

}

.user-data::-webkit-scrollbar {
  width: 12px;
}

.user-data::-webkit-scrollbar-track {
  background-color: #33241e;
}

.user-data::-webkit-scrollbar-thumb {
  background-color: #9e8686;
  border-radius: 6px;
  border: 2px solid #ded4bd;
}


.user-index {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: block;

}

.user-badges {
  width: fit-content;
  padding: 5px;
  align-items: right;
  color: black;
  background: #69a1d9;
  border: 11px #1C6EA4;
}

.silver-badge {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  text-align: center;
  padding: 5px;
  color: black;
  background: -moz-linear-gradient(left, #d6d6d4 25%, #a09e9a 50%, #797878 100%);
  background: -webkit-linear-gradient(left, #d6d6d4 25%, #a09e9a 50%, #797878 100%);
  background: linear-gradient(to right, #d6d6d4 25%, #a09e9a 50%, #797878 100%);
  border: 4px outset #c5cac1;
  border-radius: 5px;
}

.bronze-badge {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  text-align: center;
  padding: 5px;
  color: black;
  background: -moz-linear-gradient(left, #a78267 15%, #b17136 50%, #683b1e 100%);
  background: -webkit-linear-gradient(left, #a78267 15%, #b17136 50%, #683b1e 100%);
  background: linear-gradient(to right,  #a78267 15%, #b17136 50%, #683b1e 100%);
  border: 4px outset rgb(138, 92, 71);
  border-radius: 5px;
}

.gold-badge {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 15%;
  text-align: center;
  padding: 5px;
  color: black;
  background: -moz-linear-gradient(left, #e9db8b 15%, #ffdd46 50%, #f7cc42 100%);
  background: -webkit-linear-gradient(left, #e9db8b 15%, #ffdd46 50%, #f7cc42 100%);
  background: linear-gradient(to right,  #e9db8b 15%, #ffdd46 50%, #f7cc42 100%);
  border: 4px outset rgb(226, 217, 157);
  border-radius: 5px;
}

.badges-header {
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.username-label {
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.user-head {
  position: absolute;
  top: 25px
  ;
  justify-content: center;
  align-items: center;
  left: 45%;
  font-family: 'Courier New', Courier, monospace;
  color: #FFFFFF;
  text-shadow: 3px 5px 2px #474747;
  color: #FFFFFF;
  background: transparent;
}

.user-div {
  grid-column: 2;
  grid-row: 1;
  
}

.nav-btn {
  padding: 10px;
}

.user-btn {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.719), 0 17px 50px 0 rgba(0, 0, 0, 0.562);
  background: #ffd7d7;
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 3px outset rgb(13, 24, 13);
  font-size: 17px;
  color: rgb(216, 212, 191);
  margin: 4px 0;
}

.user-btn:hover {
  color: rgb(216, 212, 191);
  background-color: #151f15
}

.user-home-button {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.719), 0 17px 50px 0 rgba(0, 0, 0, 0.562);
  background: #ffd7d7;
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 3px outset rgb(13, 24, 13);
  font-size: 17px;
  color: rgb(216, 212, 191);
  margin: 4px 0;
}

.upvote-btn {
  background: none;
  border: none;
  border-radius: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

.liked {
  background-color: slateblue;
}

.text-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  
}



.text-content {
  flex-grow: 1;
}

.user-entry-box {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px;
  border: 4px solid #33241e;
  padding: 20px;
  margin-bottom: 10px;
  background-color: #b89e93;
  width: 450px;
  height:auto;
  overflow: hidden;
  border-radius: 5px;
}
.user-ul {
  list-style-type: none;
  padding: 0;
  text-align: center
}

.small-text {
  font-size: 15px;
  margin-top: 15px;
}

.timeStamp {
  font-size: 14px;
  color: gray;
  margin-top: 4px;
}

.user-bookshelf-button{
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.719), 0 17px 50px 0 rgba(0, 0, 0, 0.562);
  background: #ffd7d7;
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 3px outset rgb(13, 24, 13);
  font-size: 17px;
  color: rgb(216, 212, 191);
  margin: 4px 0;
}

.user-button {
  width: 150px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.719), 0 17px 50px 0 rgba(0, 0, 0, 0.562);
  background: #ffd7d7;
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 3px outset rgb(13, 24, 13);
  font-size: 17px;
  color: rgb(216, 212, 191);
  margin: 4px 2;
}

.delete-btn {
  width: 70px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(114, 98, 98, 0.205), 0 17px 50px 0 rgba(0, 0, 0, 0.562);
  background: #ffd7d7;
  background: -moz-linear-gradient(top, #331616 0%, #492020 38%, #331616 100%);
  background: -webkit-linear-gradient(top, #331616 0%, #492020 38%, #331616 100%);
  background: linear-gradient(to bottom, #331616 0%, #492020 38%, #331616 100%);
  border: 3px outset rgb(90, 46, 46);
  font-size: 13px;
  color: rgb(216, 212, 191);
  margin: 4px 2;
}

.delete-btn:hover {
  color: rgb(216, 212, 191);
  background-color: #151f15
}

.username-update  {
  font-size: 22px;
  border-radius: 10px;

}

.username-update button {
  font-size: 22px;
  background: #ffd7d7;
  color: rgb(216, 212, 191);
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 2px solid rgb(13, 24, 13);

}

.update-username input {
  font-size: 22px;
  border: #ffffff;
}

.login {
  background-color: #577557;
  border-radius: 5px
}

.login h2 {
  color: rgb(216, 212, 191);
  text-align: center;
}

.login input {
  font-size: 22px;
  display: block;
  margin: 0 auto;
}

.login button {
  font-size: 22px;
  display: block;
  margin: 0 auto;
  background: #ffd7d7;
  color: rgb(216, 212, 191);
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 2px solid rgb(13, 24, 13);
  border-radius: 5px
}


.save-btn {
  width: 55px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
  box-shadow: 0 12px 16px 0 rgba(177, 177, 177, 0.199), 0 17px 50px 0 rgba(0, 0, 0, 0.562);
  background: #ffd7d7;
  background: -moz-linear-gradient(top, #331616 0%, #492020 38%, #331616 100%);
  background: -webkit-linear-gradient(top, #331616 0%, #492020 38%, #331616 100%);
  background: linear-gradient(to bottom, #331616 0%, #492020 38%, #331616 100%);
  border: 3px outset rgb(90, 46, 46);
  font-size: 12px;
  color: rgb(216, 212, 191);
  margin: 4px 2;
}


.register {
  background-color: #577557;
  border-radius: 5px
}

.register h2 {
  color: rgb(216, 212, 191);
  text-align: center;
}

.register input {
  font-size: 22px;
  display: block;
  margin: 0 auto;
}

.register button {
  font-size: 22px;
  display: block;
  margin: 0 auto;
  background: #ffd7d7;
  color: rgb(216, 212, 191);
  background: -moz-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: -webkit-linear-gradient(top, #203020 0%, #314731 38%, #203020 100%);
  background: linear-gradient(to bottom, #203020 0%, #314731 38%, #203020 100%);
  border: 2px solid rgb(13, 24, 13);
  border-radius: 5px
}